.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: 708px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
