.example {
  padding: 0;
  background-color: $grey-bg;
}

.example__container {
  padding-bottom: 22px;
}

.example__title {
  padding-top: 20px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__text {
  width: 96%;
  margin-bottom: 0;
  font-family: $second-font;
}

.example__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__item-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.example__item-stats {
  display: flex;
}

.example__stats-value {
  position: relative;

  align-items: stretch;

  width: 124px;
  margin-top: 26px;
  margin-bottom: 20px;
  padding-top: 13px;
  padding-right: 11px;
  padding-bottom: 17px;
  padding-left: 11px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__stats-value--kg::after {
  content: "снижение веса";

  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  align-items: stretch;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: $second-font;
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;
}

.example__stats-value--date::after {
  content: "затрачено времени";

  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  align-items: stretch;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: $second-font;
  text-align: center;
  text-transform: lowercase;

  background-color: $grey-bg;
}

.example__price {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-bottom: -2px;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
}

.example__slider {
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  margin-top: 0;
  padding-bottom: 4px;
  min-height: 306px;
}

.example__slider-img {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  background-position: 50% 50%;
}

.slider-img {
  max-width: 320px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example__slider-img--before {
  width: 100%;
  min-height: 257px;
  margin-left: 0;
  // background-image: url("../img/before-mobile@1x.png");
  // background-repeat: no-repeat;
  opacity: 0;
  transition: opacity ease-in 0.3s;

  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url("../img/before-mobile@2x.png");
  //   background-size: 320px;
  // }
}

.example__slider-img--after {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 257px;
  margin-left: 0;
  // background-image: url("../img/after-mobile@1x.png");
  // background-repeat: no-repeat;
  opacity: 0;
  transition: opacity ease-in 0.3s;

  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url("../img/after-mobile@2x.png");
  //   background-size: 320px;
  // }
}

.example__slider-input {
  padding: 0;
  position: absolute;
  opacity: 0;
  bottom: 0;
}

.example__slider-input--before:checked ~ .example__slider-img--before {
  display: block;
  width: 100%;
  height: 257px;
  margin-bottom: 16px;
  opacity: 1;
  transition: opacity ease-in 0.3s;
}

.example__slider-input--after:checked ~ .example__slider-img--after {
  display: block;
  width: 100%;
  height: 257px;
  opacity: 1;
  transition: opacity ease-in 0.3s;
}

.example__toggle-control {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 215px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 8px;
}

.example__toggle-label {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle-scale {
  position: relative;
  width: 85px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  transition: left ease-in 0.3s;
}

.example__toggle-scale::before {
  content: "";
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $green-bg;

  border-radius: 10px;
  transition: left ease-in 0.3s;
}

.example__slider-input--before:checked ~ .example__toggle-control .example__toggle-scale::before {
  left: 6px;
}

.example__slider-input--after:checked ~ .example__toggle-control .example__toggle-scale::before {
  right: 6px;
}

.example__slider-input--before:focus ~ .example__toggle-control > .example__toggle-label--before,
.example__slider-input--after:focus ~ .example__toggle-control > .example__toggle-label--after {
  outline: $focus-outline;
}

// .example__slider-input:focus ~ .example__toggle-control > .example__toggle-label {
//   outline: $focus-outline;
// }

.example__price-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, transparent 595px, #eaeaea 595px);
  }

  .example__container {
    padding-bottom: 0;
  }

  .example__title {
    margin-top: 20px;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    font-family: $second-font;
  }

  .example__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }

  .example__item-block {
    justify-content: flex-start;
  }

  .example__stats-value {
    position: relative;

    margin: 0;
    margin-right: 42px;
    width: 162px;
    padding-top: 16px;
    padding-right: 29px;
    padding-bottom: 20px;
    padding-left: 29px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }

  .example__stats-value--kg::after,
  .example__stats-value--date::after {
    position: absolute;
    bottom: -5px;
    left: 50%;

    transform: translateX(-50%);

    align-items: stretch;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 8px;
    font-size: 14px;
    line-height: 14px;
    font-family: $second-font;
    text-align: center;
    text-transform: lowercase;

    background-color: #ffffff;
  }

  .example__stats-value--kg::after {
    width: 114px;
  }

  .example__stats-value--date::after {
    width: 144px;
  }

  .example__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;
    width: 190px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-transform: uppercase;
  }

  .example__title-cost,
  .example__cost {
    margin: 0;
  }

  .example__slider {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    flex-direction: column;
    min-height: 624px;
    position: relative;
    padding: 0;
    margin-top: 0;
  }

  .example__slider-img {
    background-position: 50% 50%;
    margin: 0;
  }

  .slider-img {
    max-width: 680px;
  }

  .example__slider-img--before {
    width: auto;
    height: 517px;

    // background-image: url("../img/before-tablet@1x.png");
    // background-repeat: no-repeat;
    opacity: 0;
    transition: opacity ease-in 0.3s;
    // background-size: contain;

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //   background-image: url("../img/before-tablet@2x.png");
    // }
  }

  .example__slider-img--after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 517px;

    // background-image: url("../img/after-tablet@1x.png");
    // background-repeat: no-repeat;
    opacity: 0;
    transition: opacity ease-in 0.3s;

    // background-size: contain;

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //   background-image: url("../img/after-tablet@2x.png");
    // }
  }

  .example__slider-input--before:checked ~ .example__slider-img--before {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    height: 517px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__slider-input--after:checked ~ .example__slider-img--after {
    display: block;
    width: 100%;
    height: 517px;
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  .example__toggle-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74.4%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 68px;
  }

  .example__toggle-label {
    margin: 0;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: dotted 1px rgba($color: #111111, $alpha: 0.23);
    cursor: pointer;
  }

  .example__toggle-control:hover .example__toggle-label {
    border-bottom: solid 1px rgba($color: #111111, $alpha: 0.23);
  }

  .example__toggle-control:active .example__toggle-label {
    border-bottom: solid 1px rgba($color: #111111, $alpha: 0);
  }

  .example__toggle-scale {
    position: relative;
    width: 76%;
    height: 6px;
    background-color: #cdcdcd;

    border: none;
    border-radius: 10px;
  }

  .example__toggle-scale::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: -13px;
    background-color: $green-bg;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: left ease-in 0.3s;
    cursor: pointer;
  }

  .example__slider-input--before:checked ~ .example__toggle-control .example__toggle-scale::before {
    left: 6px;
  }

  .example__slider-input--after:checked ~ .example__toggle-control .example__toggle-scale::before {
    right: 6px;
  }

  .example__toggle-control:hover .example__toggle-scale::before {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  .example__toggle-control:active .example__toggle-scale::before {
    box-shadow: 0 0 2px 2px $green-bg, 0 4px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, transparent 160px, #eaeaea 160px);
  }

  .example__slider {
    background: none;
    min-height: 620px;
    margin: 0;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  .example__item {
    margin-bottom: 0;
  }

  .example__container {
    padding: 0;
    width: 100%;
    background-color: transparent;
  }

  .example__container-text {
    display: flex;
    flex-direction: column;
    width: 47%;
  }

  .example__container-slider {
    width: 53%;
  }

  .slider-img {
    max-width: 690px;
    margin-top: 38px;
  }

  .example__slider-img--before {
    height: 499px;
    margin-top: -40px;
  }

  .example__slider-input--after:checked ~ .example__slider-img--after {
    height: 517px;
  }

  .example__toggle-control {
    margin-right: 0;
    width: 571px;
    margin-top: auto;
    padding-bottom: 0;
    margin-bottom: 68px;
  }

  .example__title {
    padding: 0;
    margin-bottom: 135px;
  }

  .example__text {
    width: 435px;
    margin-bottom: 66px;
  }

  .example__stats-value--kg::after,
  .example__stats-value--date::after {
    background-color: #eaeaea;
  }

  .example__item-block {
    width: 450px;
  }

  .example__price {
    margin: 0;
    width: 100%;
    flex-direction: row;
    margin-top: 55px;
    justify-content: flex-start;
  }

  .example__title-cost {
    margin-right: 55px;
  }
}
