.food__header {
  margin-top: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.food__catalog-list {
  padding: 0;
  margin: 0;
}

.food__catalog-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
  border-top: 1px solid $grey-bg;
}


.food__img-block {
  width: 50%;
}

.food__img {
  width: 100%;
  max-width: 170px;
}

.food__table-block {
  align-self: center;
  width: 50%;
  padding-bottom: 23px;
}

.food__item {
  width: 100%;
  margin-right: 0;
}

.food__title {
  width: 54%;
  margin-top: 22px;
  margin-bottom: 12px;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.food__table {
  width: 100%;
  margin-top: 0;
}


.food__desc {
  font-size: 12px;
  line-height: 14px;
  font-family: $second-font;
  color: #444444;
}

.food__wt {
  padding: 0;
  padding-right: 55px;
}

.food__gr {
  padding: 0;
  text-align: right;
}

.food__taste {
  padding: 0;
}

.food__meat {
  padding: 0;
  text-align: right;
}

.food__price {
  padding: 0;
}

.food__bet {
  padding: 0;
  text-align: right;
}


.food__button {
  width: 100%;
  margin-top: -2px;
  padding-right: 25%;
  padding-left: 25%;
  font-size: 16px;
  line-height: 20px;
}

.food__table-button {
  width: 100%;
}

.food__see-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  border-top: 1px solid $grey-bg;
  border-bottom: 1px solid $grey-bg;
}

.food__plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.food__plus::before {

  content: "";
  position: absolute;
  top: 15px;
  left: 0;

  width: 30px;
  height: 2px;

  background-color: $grey-bg;
  transform: rotate(90deg);
}

.food__plus::after {

  content: "";
  position: absolute;
  top: 15px;
  left: 0;

  width: 30px;
  height: 2px;

  background-color: $grey-bg;
}

.food__title-more {
  margin-top: 9px;
  margin-bottom: 7px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.food__title-desc {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: $second-font;
  text-align: center;
  color: #444444;
}

.food__button-more {

  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;
  color: #444444;
  background-color: $grey-bg;
  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .food__header {
    font-size: 60px;
  }

  .food__catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .food__catalog-item {
    position: relative;
    width: 45%;
    min-width: 324px;
    flex-direction: column;
    align-items: center;
    min-height: 431px;
    padding: 40px;
    padding-top: 165px;
    margin: 0;
    margin-top: 140px;

    background-color: $grey-bg;
  }

  .food__img-block {
    position: absolute;
    width: 324px;
    bottom: 300px;
  }

  .food__img {
    width: 100%;
    max-width: none;
  }

  .food__table-block {
    display: block;
    width: 100%;
  }

  .food__title {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 130px;
  }

  .food__table {
    border-collapse: collapse;
  }

  .food__desc {
    font-size: 16px;
    line-height: 16px;
  }

  .food__wt {
    padding: 0;
    padding-top: 5px;
    padding-right: 57px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__gr {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__taste {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__meat {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__price {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__bet {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
  }

  .food__see-more {
    position: relative;
    width: 45%;
    min-width: 324px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 431px;
    padding: 40px;
    margin: 0;
    margin-top: 140px;
    border: 1px solid #cdcdcd;
  }

  .food__plus {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
  }

  .food__plus::before {
    top: 30px;
    left: 0;

    width: 60px;
    height: 2px;
  }

  .food__plus::after {

    top: 30px;
    left: 0;

    width: 60px;
    height: 2px;
  }

  .food__title-more {
    font-size: 20px;
    line-height: 20px;
    width: 140px;
    margin-bottom: 30px;
  }

  .food__title-desc {
    font-size: 16px;
    width: 170px;
  }

  .food__button-more {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .food__catalog-item,
  .food__see-more {
    width: 245px;
    min-width: auto;
  }

  .food__img-block {
    position: absolute;
    width: 245px;
    bottom: 300px;
  }
}
