.page-header {
  position: relative;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__logo {
  margin-left: auto;
  margin-right: auto;
}

.page-header__logo-img--desktop {
  display: none;
}

.page-header__logo-img--tablet {
  display: none;
}

.main-nav__toggle {
  width: 35px;
  height: 35px;
  padding: 0;
  border: 0;

  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 19px;
  transition: 0.3s;
}

.main-nav__toggle--close {
  background-image: url("../img/icon-close.svg");
}

.main-nav__items {
  display: none;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu-open {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  list-style: none;

  border-top: 1px solid $grey-bg;

  &:hover:not(.site-list__item--active) {
    opacity: 0.6;
  }

  &:active:not(.site-list__item--active) {
    opacity: 0.3;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-header__logo-img {
    display: none;
  }

  .page-header__logo-img--desktop {
    display: none;
  }

  .page-header__logo-img--tablet {
    display: block;
    width: 174px;
  }

  .main-nav {
    flex-grow: 1;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 0;
  }

  .site-list__item {
    position: relative;
    padding: 0;
    margin-left: 37px;
    border: none;
    list-style: none;
  }

  .site-list__link {
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .site-list__item--active::after {
    content: " ";
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green-bg;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-img--tablet {
    display: none;
  }

  .page-header__logo-img--desktop {
    display: block;
    width: 203px;
  }

  .page-header {
    margin-top: 40px;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 25px;
  }

  .site-list--index {
    .site-list__link {
      color: #ffffff;
    }

    .site-list__item--active::after {
      background-color: #ffffff;
    }
  }

  .site-list__item--active::after {
    top: 30px;
  }
}
