.program-selection {
  display: flex;
  flex-direction: column;
}

.program-selection__item {
  position: relative;

  margin-bottom: 20px;
  padding-top: 29px;
  padding-right: 19px;
  padding-bottom: 20px;
  padding-left: 19px;

  background-color: $grey-bg;
}
