.program-type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}

.program-type-list__input {
  opacity: 0;
}

.program-type-list__input:disabled {
  opacity: 0;
}

.program-type-list__input:disabled + .program-type-list__label {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.program-type-list__item {
  position: relative;
  margin-bottom: 12px;
}

.program-type-list__label {
  width: 200px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color;
  margin-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $green-bg;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program-type-list__input:checked + .program-type-list__label::after {
  display: block;
}

.program-type-list__input:focus + .program-type-list__label {
  outline: $focus-outline;
}

@media (min-width: $tablet-width) {
  .program-type-list__item {
    margin-bottom: 21px;
  }

  .program-type-list__label {
    width: 250px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 36px;

    &::before {
      left: 0;
      top: -4px;
      width: 40px;
      height: 40px;
    }

    &::after {
      left: 10.5px;
      top: 7px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-type-list__item {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
