.social__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social__logo-footer {
  display: inline-block;
  vertical-align: middle;
  width: 129px;
  height: 24px;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: opasity ease-in-out 0.3s;
  margin-top: 28px;
  margin-bottom: 26px;
}

.social__logo-footer:hover {
  opacity: 0.8;
  transition: opasity ease-in-out 0.3s;
}

.social__logo-footer:active {
  opacity: 0.6;
  transition: opasity ease-in-out 0.3s;
}

.social__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.social__svg {
  fill: #666666;
}

.social__svg:hover {
  transition: fill ease-in-out 0.3s;
  fill: $green-bg;
}

.social__svg:active {
  opacity: 0.3;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social__academy-text {
  margin-left: -2px;
  font-weight: 400;
  font-size: 16px;
  font-family: $second-font;
  color: #666666;
}

.social__academy-logo--svg {
  width: 42px;
  height: 42px;
  margin-right: -8px;
  fill: #666666;
}

.social__link-academy:hover .social__academy-logo--svg {
  fill: $green-bg;
}

.social__link-academy:active {
  opacity: 0.3;
  transition: opasity ease-in-out 0.3s;
}

@media (min-width: $tablet-width) {
  .social__block {
    flex-direction: row;
    justify-content: space-between;
  }

  .social__logo-footer {
    margin: 0;
    width: 160px;
    height: 24px;
  }

  .social__items {
    width: 50%;
    border: none;
    margin-bottom: 20px;
  }

  .social__item {
    margin-right: 20px;
  }

  .social__link {
    width: 30px;
    height: 30px;
  }

  .social__svg--vk {
    width: 30px;
    height: 16px;
  }

  .social__svg--inst {
    width: 23px;
    height: 23px;
  }

  .social__svg--fb {
    width: 14px;
    height: 28px;
  }

  .social__link-academy {
    width: 160px;
  }

  .social__academy-logo--svg {
    width: 40px;
    height: 40px;
  }
}
