.title-block {
  padding-top: 14px;
  padding-bottom: 29px;
}

.title-block__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $font-color;
  margin: 0;
  margin-bottom: 27px;
}

.title-block__text {
  text-transform: uppercase;
  color: $font-color;
  width: 85%;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title-block {
    padding-bottom: 57px;
  }

  .title-block__title {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 53px;
  }

  .title-block__text {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .title-block__title {
    margin-top: -5px;
  }

  .title-block__text {
    width: 330px;
    margin-left: 0;
  }
}
