$main-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", "Helvetica", sans-serif;
$font-color: #111111;
$second-font-color: #444444;
$errorcolor: #ff8282;
$header-border: #e6e6e6;
$green-bg: #65a93c;
$grey-bg: #f2f2f2;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
